assets/img/backgrounds/grass.jpg
assets/img/backgrounds/leaves.jpg
assets/img/backgrounds/lightning.jpg
assets/img/backgrounds/mountain.jpg
assets/img/backgrounds/road.jpg
assets/img/backgrounds/snow.jpg
